body{
  background-image: url(../images/payments-banner-graphic0.png);
  background-repeat: no-repeat;
}


h1{
  color: white;
margin: 264px 241px 40px;
}
h2{
  color: white;
margin: 20px 440px 40px;
}

#boutonAccueil{
  margin: 10px 525px;
  font-size: 1.2em;
  padding: 5px;

}
